.App {
  text-align: center;
  background-color: #282c34;
  color: white;
  font-size: calc(12px + 2vmin);
  min-height: 100vh;
  padding: 5% 5% 0 5%;
}

button {
  margin: 2rem;
}

.flex {
  display: flex;
}
.wrap {
  flex-wrap: wrap;
}

.lgAside {
  min-width: 10rem;
  text-align: right;
}

.margin1 {
  margin: 2rem 0rem;
}
.margin2 {
  margin: 2rem 2rem 2rem 2rem;
}

.margin-top {
  margin-top: 0;
}

.amount {
  width: 6rem;
}

.spaceBetween {
  justify-content: space-between;
}
.spaceAround {
  justify-content: space-around;
}
.spaceCenter {
  justify-content: center;
}

.wide {
  width: 80%;
}

.cardWidth {
  width: 10rem;
}

.text-center {
  text-align: center;
}
.underline {
  text-decoration: underline;
}