.App {
  text-align: center;
  background-color: rgb(255, 253, 255);
  color: black;
  /* font-size: calc(12px + 2vmin); */
  /* height: 100vh; */
  min-height: 100vh;
}

.flex {
  display: flex;
}
.wrap {
  flex-wrap: wrap;
}
.spaceBetween {
  justify-content: space-between;
}
.spaceAround {
  justify-content: space-around;
}
.spaceCenter {
  justify-content: center;
}
.alignCenter {
  align-items: center;
}
.textCenter {
  text-align: center;
}

/* Custom Configurations */
.loginComponent {
  align-items: center;
  height: 85vh;
}
.loginComponent__header {
  max-width: 25rem;
  margin: 0 4rem;
}
.loginComponent__header h1 {
  color: rgb(44, 44, 217);
  font-size: 350%;
  margin-bottom: 1rem;
}
.loginComponent__inputCard {
  width: 25rem;
  height: 22rem;
  margin: 0 4rem;
  background-color: white;
  border-radius: 1rem;
  box-shadow:
  1px 2px 2px hsl(220deg 60% 50% / 0.333),
  2px 4px 4px hsl(220deg 60% 50% / 0.333),
  3px 6px 6px hsl(220deg 60% 50% / 0.333);
  text-align: center;
  padding: 1rem;
}
.loginComponent__inputCard input {
  width: 100%;
  padding: 12px 0 12px 12px;
  margin: 0 0 1rem 0;
  border-radius: 4px;
  font-size: 120%;
  border: 1px solid rgb(199, 190, 190);
}
.loginComponent button:hover {
  cursor: pointer;
  opacity: .9;
}
.loginComponent__inputCard button {
  color: white;
  padding: 12px;
  margin-bottom: 1.5rem;
  border-radius: 8px;
  font-weight: bold;
  text-decoration: none;
}
.loginComponent__button1 {
  background-color: rgb(53, 100, 255);
  width: 100%;
  font-size: 120%;
}
.loginComponent__button2 {
  background-color: rgb(122, 200, 6);
  width: 60%;
  font-size: 100%;
  margin-top: 1.5rem;
}
.loginComponent__button3 {
  color: white;
  padding: 12px;
  margin: 0 0 1rem 0;
  border-radius: 8px;
  font-size: 120%;
  font-weight: bold;
  text-decoration: none;
  background-color: rgb(168, 163, 163);
  width: 60%;
}
.loginComponent__inputCard hr {color: rgb(224, 215, 215);}

.userComponent__nav {
  display: flex;
  height: 4rem;
  justify-content: space-between;
  align-items: center;
}
.userComponent__nav h1{
  color: rgb(44, 44, 217);
  margin-left: 2rem;
}
.userComponent__nav a{
  text-decoration: none;
}
.userComponent__link {
  color: white;
}
.userComponent__nav button{
  color: white;
  background-color: rgb(45, 44, 44);
  font-size: 100%;
  padding: 0px 12px 0px 12px;
  margin-right: 2rem;
  border-radius: 8px;
  font-weight: bold;
  text-decoration: none;
  height: 3rem;
}
.userComponent__nav button:hover {
  cursor: pointer;
  opacity: .9;
}

.itemComponent {
  margin: 1rem;
  padding: 1rem;
  width: 8rem;
  height: 7rem;
  background-color: rgb(186, 221, 233);
  border-radius: 1rem;
}

.registerComponent {
  max-width: 950px;
}
.registerComponent__title {
  color: rgb(44, 44, 217);
}
.registerComponent__itemContainer {
  border: 1px solid rgb(202, 197, 197);
  border-radius: 0.5rem;
  box-shadow:
  1px 2px 2px hsl(220deg 60% 50% / 0.333),
  2px 4px 4px hsl(220deg 60% 50% / 0.333),
  3px 6px 6px hsl(220deg 60% 50% / 0.333);
  justify-content: center;
}
.addItemsComponent {
  max-width: 950px;
  margin-top: 4rem;
}
.addItemsComponent h2 {
  color: rgb(44, 44, 217);
}
.addItemsComponent input {
  padding: 12px 0 12px 12px;
  margin: 0 0 1rem 0;
  border-radius: 4px;
  font-size: 120%;
  border: 1px solid rgb(199, 190, 190);
}
.addItemsComponent button:hover {
  cursor: pointer;
  opacity: .9;
}
.addItemsComponent button {
  color: white;
  padding: 12px;
  margin-bottom: 1.5rem;
  border-radius: 8px;
  font-weight: bold;
  text-decoration: none;
  background-color: rgb(53, 100, 255);
  width: 9rem;
  font-size: 120%;
}

.registerComponent__checkout {
  min-width: 10rem;
  border: 1px solid lightgrey;
  border-radius: 0.5rem;
  box-shadow:
  1px 2px 2px hsl(220deg 60% 50% / 0.333),
  2px 4px 4px hsl(220deg 60% 50% / 0.333),
  3px 6px 6px hsl(220deg 60% 50% / 0.333);
}
.registerComponent__checkout h2 {
  color: rgb(44, 44, 217);
}
.updateComponent {
  max-width: 950px;
}
.updateComponent__itemMap {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid lightgrey;
  justify-content: center;
  box-shadow:
  1px 2px 2px hsl(220deg 60% 50% / 0.333),
  2px 4px 4px hsl(220deg 60% 50% / 0.333),
  3px 6px 6px hsl(220deg 60% 50% / 0.333);
}



/* Margin / Padding Section */
.marginLeft1 {
  margin-left: 3%;
}
.marginRight1 {
  margin-right: 3%;
}
.margin1 {
  margin: 2rem;
}
.margin2 {
  margin: 1rem 2rem 2rem 2rem;
}
.padding1 {
  padding: 2rem;
}
.padding2 {
  padding: 2rem 0rem;
}



/* this classname used in findTotal() as a query selector. Fix later */
.amount {
  width: 6rem;
}



/* Media Queries */
@media (max-width: 950px) {
  .loginComponent {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 3rem;
  }
  .loginComponent__inputCard {
    width: 22rem;
  }
}
@media (max-width: 475px) {
  .userComponent__nav button {
    margin-right: 4px;
    padding: 0 6px;
    height: 2.5rem;
  }
}