.App {
  text-align: center;
  background-color: #282c34;
  color: white;
  font-size: calc(12px + 2vmin);
  min-height: 100vh;
  padding: 0 5% 0 5%;
}

button {
  margin: 2rem;
}

.flex {
  display: flex;
}

.lgAside {
  width: 40%;
  min-width: 10rem;
  text-align: right;
}

.margin2 {
  margin: 2rem 2rem 2rem 2rem;
}

.amount {
  width: 6rem;
}

.spaceBetween {
  justify-content: space-between;
}

.wide {
  width: 80%;
}

.cardWidth {
  width: 12rem;
}